prefer named export in JavaScript
prefer JavaScript arrow functions
avoid JavaScript switch statements

prefer named exports in TypeScript
prefer types over interfaces in TypeScript
avoid enums in TypeScript
avoid namespaces in TypeScript

do not import from "react" package unless importing in a named export
